# .env
SECRET_KEY=your-secret-key-here
DEBUG=True
USE_S3=False

# Only needed if USE_S3=True
AWS_ACCESS_KEY_ID=your_aws_access_key
AWS_SECRET_ACCESS_KEY=your_aws_secret_key
AWS_STORAGE_BUCKET_NAME=your_bucket_name
AWS_S3_REGION_NAME=us-east-1


ENABLE_BACKGROUND_TASKS=True
ENABLE_WHATSAPP_TASKS=True

# Database (optional for local, required for prod if using URL)
# DATABASE_URL=postgres://user:password@host:port/dbname

# Email Settings
EMAIL_HOST_USER=royalcraftjewelers@gmail.com
EMAIL_HOST_PASSWORD=your_app_password
ADMIN_EMAIL=royalcraftjewelers@gmail.com

# WhatsApp API (Evolution API)
WHATSAPP_API_BASE_URL=http://localhost:8080
WHATSAPP_API_KEY=C74709FD0F08-43B5-BA0C-D76E962F33EC
WHATSAPP_INSTANCE_NAME=test

# Celery / Redis
REDIS_URL=redis://localhost:6379/0
CELERY_TASK_ALWAYS_EAGER=True
FRONTEND_URL=http://localhost:5173